# Environment variables for server
METRICS_DB_PATH=./data/metrics
DATATABLES_PATH=./data/tables
AI_MODELS_PATH=./data/models
API_KEYS_PATH=./data/api-keys
LOGS_PATH=./data/logs
SESSIONS_PATH=./data/sessions

# Environment variables for studio
STUDIO_PORT=5000
STUDIO_HOST=0.0.0.0
SERVER_ADDRESS=http://localhost:3000