# Environment variables for the metrics service
METRICS_DB_PATH=./data/metrics

# Environment variables for DataTable
DATATABLES_PATH=./data/tables

# Environment variables for AI Engines
AI_MODELS_PATH=./data/models

# Environment variables for studio
STUDIO_PORT=5000
STUDIO_HOST=0.0.0.0
SERVER_ADDRESS=http://localhost:3000