# Yarn Berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# dev
.vs
.qodo

# python
__pycache__

.vagrant/
node_modules/
build/
coverage/
tmp/
dist/

*.traineddata
sync.ffs_db

# docs
docs/docs/.vitepress/cache/

# data
data/
!apps/studio/app/pages/data

# Nuxt dev/build outputs
.output/
.data/
.nuxt/
.nitro/
.cache/

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

!.gitkeep